<p> (Employee’s ability of carrying out his/her task in respect of the business process and business need.)</p>
<div class="center">
    <div class="table-container">
        <div class="business-head">
            <div class="business-label">
                <h2>Value Creator</h2>
            </div>
            <div class="add-stats">
                    <button (click) = "openAddDialog()"><img src="assets/images/icons/plus-square-fill.svg" alt="Add New User"> New</button>
            </div>
        </div>
        
        <table datatable [dtOptions] = "dtOptions" class="table table-stripe table-bordered table-hover table-sm">
            <thead>
                <tr>
                    <th class="tname">Code</th>
                    <th class="tdescr">Description</th>
                    <th class="taction">Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>