<div class="center">
    <app-spinner></app-spinner>
    <h1>LOGIN</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="txt_field">
            <input type="email" name="email" id="email" formControlName="email" required>
            <span></span>
            <label for="text">email</label>
        </div>
       <div class="txt_field">
        <input type="password" name="password" id="password" formControlName="password" required>
        <span></span>
        <label for="">password</label>
       </div> 
       <input [ngClass]="isFormValid() ? 'enableLogin' : 'disableLogin'" type="submit" value="Login" [disabled]="!isFormValid()">
       <div class="signup_link">
        Not a member? <a routerLink="/register">Register</a>
       </div>
    </form>
</div>
